* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

head, body {
    display: grid;
    place-content: center;
}

.nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
